.divClass{
    height: 50px;
    width: 50px;
    border: 1px solid;
    background-color:aqua;
    flex: auto;
    
 
}

#container{
    display:flex;
   
    
    width: 1000px;
    flex-wrap:wrap;
    
    
}




height: 60px;
width: 60px;